/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
  background-color: #fff; /* Ensure background color is set */
}
